.background {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.text {
	color: black;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
}

.author {
	color: black;
	font-style: italic;
	padding-top: 20px;
	text-align: right;
}

.buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.share__buttons {
	align-items: center;
	display: flex;
	gap: 4px;
}

.share__buttons a {
	border: none;
	height: 40px;
	transition: all 0.2s ease-out;
	width: 40px;
}

.share__buttons a:hover {
	opacity: 0.8;
}

.twitter {
	background-image: url('../assets/twitter.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.tumblr {
	background-image: url('../assets/tumblr.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64%;
}

.new-quote__button {
	border-radius: 3px;
	border: none;
	color: white;
	cursor: pointer;
	padding: 8px 18px;
	transition: all 0.2s ease-out;
}

.new-quote__button:hover {
	opacity: 0.8;
}
