.background {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;

	h1 {
		color: black;
		font-size: 28px;
		font-weight: 500;
		text-align: center;
	}

	p {
		color: black;
		font-style: italic;
		padding-top: 20px;
		text-align: right;
	}
}

.buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.share__buttons {
	align-items: center;
	display: flex;
	gap: 4px;

	a {
		border: none;
		height: 40px;
		transition: all 0.2s ease-out;
		width: 40px;

		&:hover {
			opacity: 0.8;
		}
	}
}

@mixin backgroundDefault($val) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: $val;
}

.twitter {
	background-image: url('../assets/twitter.svg');
	@include backgroundDefault(60%);
}

.tumblr {
	background-image: url('../assets/tumblr.svg');
	@include backgroundDefault(64%);
}

.new-quote__button {
	border-radius: 3px;
	border: none;
	color: white;
	cursor: pointer;
	padding: 8px 18px;
	transition: all 0.2s ease-out;

	&:hover {
		opacity: 0.8;
	}
}
